.MyOrder {
    width: 100%;
    height: 100vh;
    height: calc(100vh - var(--vh-offset, 0px));
    background-color: #f0f0f0;
}
.warning{
  width: 100vw;
  height: 14vw;
  background-color: #FFFBE8;
}
.warning img{
  margin-left: 2vw;
  width: 6vw;
  height: 6vw;
}
.warning span{
  margin-left: 2vw;
  color: #e78332;
}