.fixbot{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 2VW;
    background-color: #fff;
    height: 14VW;
    border-top: 1px solid #eee;
    z-index: 999;
}
.fixbot p{
    text-align: left;
}
.fixbot p span{
    color: #f00;
}
.fixbot .btn{
    border: none;
    font-size: 4.4vw;
    outline: none;
    background-color: #f00;
    color: #fff;
    border-radius: 40%;
    width: 25vw;
    height: 10vw;
}