.box{
    background-color: white;
    margin-top: 3vw;
    width: 100vw;
}

.topbot{
    font-weight: 500;
    width: 92vw;
    height: 12vw;
    display: flex;
    border-bottom: 2px solid #e1dede;
    justify-content: space-between;
    line-height: 12vw;
    font-size: 4vw;
    margin-left: 4vw;
    margin-right: 4vw;
}
.topbot img{
    width: 4vw;
    height: 4vw;
}
.menus{
    width: 100vw;
    height: 22vw;
    list-style: none;
    border-bottom: 2px solid #e1dede;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menus li {
    width: 30vw;
    font-size: 3.4vw;
    text-align: center;
}
.menus li p{
    margin-top: 2vw;
    font-weight: 500;
}
.menus li img {
    width: 6vw;
    height: 6vw;
}