.ChangeP  main {
    padding: 0 8vw;
    position: relative;
    margin-top: 20.7vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bgi {
    position: absolute;
    top: 10vw;
    left: 0;
    width: 100vw;
    z-index: -1;
}

.bgi img {
    width: 100vw;
}
.ChangeP  main div {
    margin-top: 5.33vw;
    padding: 1.23vh 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(206, 206, 206);
    font-size: 4vw;
   
  }
.ChangeP  main div  i {
    color: #444;
}
.ChangeP  main div input {
    border: none;
    outline: none;
    margin-left: 5.3vw;
    font-size: 4vw;
}
.ChangeP  main button {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.1vh;
    border: none;
    outline: none;
    background-color: rgb(19, 18, 18);
    color: white;
    width: 80vw;
    height: 4.3vh;
    border-radius: 0.2rem;
    font-size: 4.5vw;
  }
