#box{
    background-color: #F0F0F0;
}
.topbox{
    position: relative;
    background-color: #353535;
    width: 100vw;
    height: 10vw;
    display: flex;
    align-items: center;
    line-height: 8vw;
}
.back{
    margin-left: 4vw;
    width: 4vw;
    height: 4vw;
}
.text{
    width: 86vw;
    font-size: 4vw;
    text-align: center;
    color: white;
    font-weight: bolder;
}
.tobar{
    vertical-align: bottom;
    width: 8vw;
    height: 8vw;
}
.huodong{
    margin-top: 3vw;
}
.huodong img{
    width: 100vw;
    height: 26vw;
}
.huodong1 {
    margin-top: 2vw;
}
.huodong1 img{
    width: 100vw;
    height: 30vw;
}